extends layout

block content
  h1= title
  p Welcome to #{title}
  hr
  p 
    strong 查询用户信息
  input(type="text" placeholder="输入ID" id="searchInput")
  button(id="searchBtn") 查询
  hr
  p
    strong 新增用户信息
  input(type="text" placeholder="输入用户名" id="addInput")
  button(id="addBtn") 添加

  script(src="/javascripts/index.js")
