<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./node_modules/vue/dist/vue.js"></script>
</head>
<body>
    <!-- 3-vue-direct.html -->
    <div id="app">
        <p>demo</p>
        <p v-once>{{ test }}</p>
        <p>{{ test2 }}</p>
        <p v-html="test3"></p>
        
        <template>
            <p v-if="test4 === 1">{{ test4 }}</p>
            <p v-else-if="test4 === 2">{{ test4 }} + x</p>
            <p v-else>{{ test4 }} + xx</p>
        </template>

        <!-- 循环谁就把它放在谁的身上 -->
        <div v-for="item in test5">
            {{ item }}
        </div>
        <div v-for="(value, key) in test6">
            {{ value }} {{ key }}
        </div>
        <!-- vue2.5以上的要求，必须在循环时使用key属性 -->
        <div v-for="(item, index) in test5" :key="index+'_0'">
            {{ item }}
        </div>
        <!-- key值得作用：使用v-for更新已渲染的元素列表时,默认用就地复用策略;列表数据修改的时候,他会根据key值去判断某个值是否修改,如果修改,则重新渲染这一项,否则复用之前的元素 -->
        <button v-on:click="test5.reverse()">reverse arr</button>
        <div v-for="(item, index) in test5">
            {{ item }} <input type="text" :key="item">
        </div>

        <button v-on:click="flag=!flag">flag true false</button>
        <div v-if="flag">
            <span>珠峰</span>
            <input key="0_3"/>   
        </div>
        <div v-else>
            <span>架构</span>
            <input key="1_3"/>  
        </div>
        <hr>

        <!-- key值使用的注意事项：key尽量不要使用index索引。 -->
        <!-- 为什么呢？ 只展示数据没问题，但是如果有数据变化的话，使用index会有问题。 
            比如一个数组for遍历渲染后，如果将其颠倒排序再渲染。如果是index为key，颠倒前后的key对应的渲染的值是不一样的
        -->
        <ul>
            <li key="0">🍌</li>
            <li key="1">🍎</li>
            <li key="2">🍉</li>
            <!-- 颠倒排序 -->
            <!-- <li key="0">🍉</li>
            <li key="1">🍎</li>
            <li key="2">🍌</li> -->
        </ul>
        <hr>        
    </div>

    <script>
        let vm = new Vue({
            el: '#app',
            data: {
                test: 'hello',
                test2: 'hello2',
                test3: '<h1>你好</h1>',
                test4: 1,
                test5: ['香蕉','苹果','桃子'],
                test6: { a: 1, b: 2, c: 3 },
                flag: false
            }
        });

        // 在vue中 指令 (Directives) 是带有 v- 前缀的特殊特性,主要的功能就是操作DOM
        // vue 指令：v-once, v-html, v-show, v-if  
        // 1. v-once 数据只渲染一次
        vm.test = 'hello-1';
        vm.test2 = 'hello2-1';

        // 2. v-html 将内容按照html格式渲染出来
        // <p v-html="test3"></p>

        // 3. v-text 将内容正常显示
        // <p v-html="test3"></p> === <p>{{ test3 }}</p>

        // 4 v-if 判断是否展示此dom元素 - 根据表达式的值的真假条件渲染元素。在切换时元素及它的数据绑定 / 组件被销毁并重建。
        // 注意v-if 和 v-show的区别，一个控制dom的存在与否，一个控制显示与否

        // 5 v-for 用于遍历数组和对象
    </script>
</body>
</html>