{% extends 'layout.html' %} 
{% block title %}图书管理-首页{% endblock %} 
{% block head %} 
  {% parent %} 
{% endblock %} 

{% block content %}
<div id="app-home">
  <el-button style="margin-bottom: 16px;" type="primary" @click="goAddPage">添加书籍</el-button>

  <el-row :gutter="12">
    {% for bookItem in bookList %}
      <el-col :span="8">
        <el-card shadow="hover">
          [[ bookItem.name ]] 
          <el-divider></el-divider>
          价格 [[ bookItem.price ]]
        </el-card>
      </el-col>
    {% endfor %}
  </el-row>
</div>
{% endblock %} {% block script %} {% parent %}
<script src="/scripts/home.js"></script>
{% endblock %}
